{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ movie.image.url }}" class="img-fluid rounded-start" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.description }}</p>
        <p class="card-text">
          {% if movie.url %}
            <a href="{{ movie.url }}" class="btn btn-primary">
              Movie Link
            </a>
          {% endif %}
          {% if user.is_authenticated %}
          <a href="{% url 'createreview' movie.id %}" 
            class="btn btn-primary">
            Add Review
          </a>
          {% endif %}
        </p>
        <hr />
        <h3>Reviews</h3>
        <ul class="list-group">
        {% for review in reviews %}  
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <p class="card-text">{{ review.text }}</p>
            {% if user.is_authenticated and user == review.user %} 
            <a class="btn btn-primary me-2" 
              href="{% url 'updatereview' review.id %}">
              Update
            </a>
            <a class="btn btn-danger"
              href="{% url 'deletereview' review.id %}">
              Delete
            </a>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}